@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

* {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
}

:root {
	--white: #fff;
	--whiteTransparent: #ffffffdf;
	--lightGreen: #add981;
}

/* Section top */

header {
	display: flex;
	align-items: center;
}

.top {
	background: url("../images/bg.jpg");
	background-size: cover;
	height: 80vh;
	padding: 2em;
}

.main-nav {
	display: flex;
	list-style: none;
	width: 400px;
	justify-content: space-between;
	margin-left: 30px;
}
.main-nav li {
	margin-right: 10px;
}

.main-nav a {
	text-decoration: none;
	color: var(--white);
}

/* Section top > Title */

.main-title {
	padding: 5em;
}

#title {
	color: var(--white);
	width: 60%;
	font-size: 100px;
	font-weight: 100;
	font-family: "Abril Fatface", cursive, sans-serif;
}

/* Scroll */

.scroll {
	text-decoration: none;
	color: var(--white);
	position: absolute;
	bottom: 160px;
}

/* Section Service */

.services {
	margin: 5em 5em 10em 5em;
	display: flex;
	justify-content: space-evenly;
}

.services-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services-items p {
	padding-top: 15px;
	font-weight: 600;
	width: 10em;
	text-align: center;
}

.icon {
	font-size: 3em;
	color: var(--lightGreen);
}

/* Section Best Seller */

.section-title {
	font-size: 50px;
	font-family: "Abril Fatface", cursive, sans-serif;
	font-weight: 100;
	padding: 0 0 7px 0;
	position: relative;
}

.section-title::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 5px;
	background-color: var(--lightGreen);
	padding-bottom: 1px;
	bottom: 0;
}

.best-plants {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.plant-box {
	background-size: cover;
	background-position: center;
	position: relative;
}

.flexUnique {
	min-width: 350px;
	height: 500px;
	flex: 1;
}

.plant1 {
	background-image: url("../images/nos_meilleures_ventes/1.jpg");
}
.plant2 {
	background-image: url("../images/nos_meilleures_ventes/2.jpg");
}
.plant3 {
	background-image: url("../images/nos_meilleures_ventes/3.jpg");
}
.plant4 {
	background-image: url("../images/nos_meilleures_ventes/4.jpg");
}

/* Plant details */

.plant-details {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: var(--whiteTransparent);
	padding: 20px;
}

.plant-more {
	position: absolute;
	right: 50px;
	bottom: 15px;
	border: none;
	background-color: var(--lightGreen);
	color: var(--white);
	padding: 10px;
	border-radius: 25px;
	box-shadow: 5px 5px 20px lightgray;
}

.plant-name {
	font-size: 22px;
	font-weight: 600;
	padding-bottom: 2px;
}

.plant-price {
	color: var(--lightGreen);
	font-weight: 600;
	font-size: 14px;
}

/* Section Plants */

.plants {
	margin-top: 15em;
}

.plant-grid {
	margin-top: 30px;
	display: grid;
	min-height: 150vh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 400px);
	gap: 15px;
}

.plant-grid1 {
	background-image: url("../images/nos_plantes/1.jpg");
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}
.plant-grid2 {
	background-image: url("../images/nos_plantes/2.jpg");
	grid-column: 3 / 5;
}
.plant-grid3 {
	background-image: url("../images/nos_plantes/3.jpg");
	grid-column: 3 / 5;
}
.plant-grid4 {
	background-image: url("../images/nos_plantes/4.jpg");
	grid-column: 1;
	grid-row: 3/5;
}
.plant-grid5 {
	background-image: url("../images/nos_plantes/5.jpg");
	grid-column: 2 / 4;
	grid-row: 3/5;
}
.plant-grid6 {
	background-image: url("../images/nos_plantes/6.jpg");
	grid-column: 4;
	grid-row: 3/5;
}

/* Footer */

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 12em;
	font-weight: 600;
}

.cgv {
	text-decoration: none;
	color: #000;
}

/* wrapper */

.wrapper {
	margin: 8em;
}
